<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-10">

            <h1>Provide the time duration to plot Signals</h1>
            <div id="wrapper">
<form >
            <div class="form-group">
                <label for="timeslot">Enter Duration</label>
                <input type="number"
                       required
                       name="timeslot"
                       max="360"
                       min="10"
                       class="form-control"
                       ng-model="timeslot"
                       id="timeslot" placeholder="Enter Time Duration in minutes"/>



            </div>
</form>
<div><a ng-href="#!/plotFuelVoltimed/{{carPlotSignalVm.vin}}/{{timeslot}}">
    Plot History of Fuel Volume</a>
</div>
                <div>
<a ng-href="#!/plotEngRpmtimed/{{carPlotSignalVm.vin}}/{{timeslot}}">
    Plot History of Engine Rpm</a></div>
            </div></div></div></div>
